@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
.autocomplete {
    font-family: 'Recursive', sans-serif;
    margin-bottom: 10pt;
    color:blue;
    width: 100%;
    border-radius: 4px;

}


  .sugg-option {
    display: flex;
    color: blue;
  }
  .sugg-option :hover
  {
      background-color: lightgrey;
  }
  .sugg-option .name {
      color: blue;
      display:flex;

  }

.main{
    width: 700px;
    border-radius: 20px;
    background-color: #01579b;
    color: whitesmoke;
    margin-bottom: 15pt;
    padding-left:15pt;
    padding-right:15pt;
}
    
.top{
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}
.h1{
    color: whitesmoke;
    margin-left: 2em;
}
.header{
    background-color: #424242;
    color: whitesmoke;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
}

.day{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.wind{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}
.rain{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}
.last-update {
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 10px;
    
}
.description{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.button{
    width: 35px;
    height: 35px;
    
}